/*modal*/

#popup {
  visibility: hidden;
  opacity: 0;
  margin-top: -300px;
}
#popup:target {
  visibility:visible;
  opacity: 1;
  background-color: rgba(221, 217, 217, 1);
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:0;
  z-index: 999;
  transition:all 1s;
}
.popup-contenedor {
  position: relative;
  margin:7% auto;
  padding:30px 50px;
  background-color: #fafafa;
  color:#333;
  border-radius: 15px;
  width:40%;

}

a.popup-cerrar {
  position: absolute;
  top:30px;
  left:30px;
  background-color: #333;
  padding:7px 10px;
  font-size: 20px;
  text-decoration: none;
  line-height: 1;
  color:#fff;
}

.popleft{
  width: 50%;
  float: left;
 
}

.popright{
  width: 50%;
  float: right;
  padding-left: 20px;
}

.popimg{
  max-width: 350px;
}

.popContent{
border-bottom: 1px #ccc solid;
}


.enviar{
  padding: 15px;
  background-color: lightgray;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  margin: 5px;
}


.guardar{
  padding: 15px;
  background-color:#c8232c;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  margin: 5px;
  float: right;
  color: white;
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {


  .popright{
    display: none;
    }

}


@media only screen and (max-width: 767px) and (min-width: 540px) {
  .popimg{
    max-width: 300px;
    text-align: center;
  }
  .popright{
    display: none;
    }

}


@media only screen and (max-width: 480px) and (min-width: 320px) {
  .popimg{
    max-width: 200px;
    text-align: center;
  }

  .popright{
  display: none;
  }

  .popup-contenedor {
    position: relative;
    margin:20% auto;
    padding:30px;
    background-color: #fafafa;
    color:#333;
    border-radius: 15px;
    width:60%;
  
  }

  a.popup-cerrar {
 
    top:10px;
    left:10px;

  }

}
/*pop up*/

